BODY {
    margin:8px 8px; FONT-FAMILY: "宋体";FONT-SIZE: 12px; background:#DDE6E9;color:#1E5494;SCROLLBAR-FACE-COLOR: #72A3D0; SCROLLBAR-HIGHLIGHT-COLOR: #337ABB; SCROLLBAR-SHADOW-COLOR: #337ABB; SCROLLBAR-DARKSHADOW-COLOR: #337ABB; SCROLLBAR-3DLIGHT-COLOR: #337ABB; SCROLLBAR-ARROW-COLOR: #FFFFFF;SCROLLBAR-TRACK-COLOR: #337EC0; 
}
.menuskin {
	BORDER-RIGHT: #666666 1px solid; BORDER-TOP: #666666 1px solid; BACKGROUND-IMAGE: url(dvmenubg3.gif); VISIBILITY: hidden; FONT: 12px Verdana; BORDER-LEFT: #666666 1px solid; BORDER-BOTTOM: #666666 1px solid; BACKGROUND-REPEAT: repeat-y; POSITION: absolute; BACKGROUND-COLOR: #efefef
}
.menuskin A {
	PADDING-RIGHT: 10px; PADDING-LEFT: 25px; BEHAVIOR: url(inc/noline.htc); COLOR: black; TEXT-DECORATION: none
}
#mouseoverstyle {
	BORDER-RIGHT: #597db5 1px solid; PADDING-RIGHT: 0px; BORDER-TOP: #597db5 1px solid; PADDING-LEFT: 0px; PADDING-BOTTOM: 0px; MARGIN: 2px; BORDER-LEFT: #597db5 1px solid; PADDING-TOP: 0px; BORDER-BOTTOM: #597db5 1px solid; BACKGROUND-COLOR: #c9d5e7
}
#mouseoverstyle A {
	COLOR: black
}
.menuitems {
	PADDING-RIGHT: 1px; PADDING-LEFT: 1px; PADDING-BOTTOM: 1px; MARGIN: 2px; WORD-BREAK: keep-all; PADDING-TOP: 1px
}

TD {
	font-size: 12px;  color:#1E5494;
}
INPUT {
	border-color:black #999999 #999999 black; BORDER-TOP-WIDTH: 1px; BORDER-LEFT-WIDTH: 1px; FONT-SIZE: 13px; BORDER-BOTTOM-WIDTH: 1px; BORDER-RIGHT-WIDTH: 1px
}

.input_1 {
	font-size: 13px; 
    font-style: normal; 
    line-height: normal; 
    font-weight: normal; 
    font-variant: normal; 
    
    clip:  rect(   ); 
    color: #000000; 
    border-color:black #999999 #999999 black;
    border-top-width: 1px;
    border-right-width: 1px; 
    border-bottom-width: 1px; 
    border-left-width: 1px; 
    background-color: #FFFFFF
}

TEXTAREA {
	border-color: black #999999 #999999 black; BORDER-TOP-WIDTH: 1px; BORDER-LEFT-WIDTH: 1px; FONT-SIZE: 13px; BORDER-BOTTOM-WIDTH: 1px; BORDER-RIGHT-WIDTH: 1px
}
SELECT {
	border-color: black #999999 #999999 black; BORDER-TOP-WIDTH: 1px; BORDER-LEFT-WIDTH: 1px; FONT-SIZE: 13px; BORDER-BOTTOM-WIDTH: 1px; BORDER-RIGHT-WIDTH: 1px
}
SPAN {
	FONT-SIZE: 12px; POSITION: static
}
A:link {
	COLOR: #1E5494; TEXT-DECORATION: none
}
A:visited {
	COLOR: #1E5494; TEXT-DECORATION: none
}
A:hover {
	COLOR: #FF6600; TEXT-DECORATION: underline
}
A.highlight:link {
	COLOR: red; TEXT-DECORATION: none
}
A.highlight:visited {
	COLOR: red; TEXT-DECORATION: none
}
A.highlight:hover {
	COLOR: red
}
A.thisclass:link {
	FONT-WEIGHT: bold; TEXT-DECORATION: none
}
A.thisclass:visited {
	FONT-WEIGHT: bold; TEXT-DECORATION: none
}
A.thisclass:hover {
	FONT-WEIGHT: bold
}
A.navlink:link {
	COLOR: #000000; TEXT-DECORATION: none
}
A.navlink:visited {
	COLOR: #000000; TEXT-DECORATION: none
}
A.navlink:hover {
	COLOR: #003399; TEXT-DECORATION: none
}
.twidth {
	WIDTH: 760px
}
.content {
	FONT-SIZE: 13px; MARGIN: 5px 20px; LINE-HEIGHT: 140%; FONT-FAMILY: Tahoma,宋体
}
.aTitle {
	FONT-WEIGHT: bold; FONT-SIZE: 15px
}
#TableTitleLink A:link {
	COLOR: #ffffff; TEXT-DECORATION: none
}
#TableTitleLink A:visited {
	COLOR: #ffffff; TEXT-DECORATION: none
}
#TableTitleLink A:active {
	COLOR: #ffffff; TEXT-DECORATION: none
}
#TableTitleLink A:hover {
	COLOR: #ffffff; TEXT-DECORATION: underline
}
TD.forumRow {
	border:1px #FFFFFF solid; background-color:#EEF7FD
}
TD.forumRaw {
	border-bottom: 1px #FFFFFF solid; border-top: 1px #FFFFFF solid; border-right: 1px #FFFFFF solid; background-color:#E4EDF9; line-height: 130%
}
TH {
	FONT-WEIGHT: bold; FONT-SIZE: 14px; BACKGROUND-IMAGE: url(th_bg.gif); COLOR: #FFF; BACKGROUND-COLOR: #4455aa
}
TD.bodytitle {
	BACKGROUND-IMAGE: url(admin_bg_2.gif)
}
TD.bodytitle1 {
	BACKGROUND-IMAGE: url(admin_bg_3.gif)
}
TD.tablebody1 {
	PADDING-RIGHT: 3px; PADDING-LEFT: 3px; BACKGROUND: #bebbdb; PADDING-BOTTOM: 3px; PADDING-TOP: 3px
}
.plen { border-bottom: 1px #FFFFFF solid; border-top: 1px #FFFFFF solid; background-color:#EEF7FD
}
.plan { border-bottom: 1px #FFFFFF solid; border-top: 1px #FFFFFF solid; border-right: 1px #FFFFFF solid; background-color:#EEF7FD
}
.plon { border-bottom: 1px #FFFFFF solid; border-top: 1px #FFFFFF solid; border-left: 1px #FFFFFF solid; background-color:#EEF7FD
}
TD.forumRowHighlight {
	PADDING-RIGHT: 3px; PADDING-LEFT: 3px; BACKGROUND: #E0EEF5; PADDING-BOTTOM: 3px; PADDING-TOP: 3px
}
.tableBorder {WIDTH: 100%; BACKGROUND-COLOR: #E1ECF2
}
.tableBorder1 {WIDTH: 100%; }
.helplink {
	FONT: 10px verdana,arial,helvetica,sans-serif; CURSOR: help; TEXT-DECORATION: none
}
.copyright {
	PADDING-RIGHT: 1px; BORDER-TOP: #6595d6 1px dashed; PADDING-LEFT: 1px; PADDING-BOTTOM: 1px; FONT: 12px verdana,arial,helvetica,sans-serif; COLOR: #4455aa; PADDING-TOP: 1px; TEXT-DECORATION: none
}
.indhot { color:#1E5494; line-height: 150%;}
.redtext {
	color: #FF0000;
}
.greentext {
	color: green;
}
.butext {
	font-weight: bold;
	text-decoration: underline;
}
.red { color:#FF3300 }

.table{
	border: 1px solid #1E5494;/*边框颜色*/
	margin-top: 5px;
	margin-bottom: 5px;
	background:#B8D3F1;
}
.bg_tr {
	font-family: "Verdana, 新宋体";
	color:#1E5494;/*标题字体色*/
	font-size:13px;
	font-weight:bolder;
	background:#E4F1FA;/*标题背景色*/

    line-height: 22px;
}
.td_bg {
	background:#ffffff;
	color:#1E5494;
}
.tdbg1 {
	background:#F9F9F9;
}
.tdbg {
	BACKGROUND: #ffffff;
}
.tdbg2{
    background:#F6F9FD;
}
.table2{border:1px #fff solid;background:#9DAEBD;width:65%;margin-top:30px;margin-bottom:30px;}
.tableline1 {background:#eeeff2;}
.tableline2 {background:#CAD2DB;}
.tableline1,.tableline2 {border:1px solid #fff;line-height:23px;padding-right:5px;padding-left:5px;}
.th_table {background:#1d212e url(th_bg.gif) repeat-x;color:#fff;font-size:12px;text-align:left;text-indent:10px;font-weight:bold;height:25px;line-height:25px;}

.CTable{
	border-top: 1px solid #449AE8;
	border-right: 1px solid #449AE8;
	border-bottom: 1px solid #449AE8;
	border-left: 1px solid #449AE8;
	background-color: #FFFFFF;
}
.sort{
	background:#2B73F1;
	background:url(titlebg.png);
	height:20px;
	letter-spacing:2px;
	font-weight:bold;
	text-align:center;
}
.tdts { background:#F6F9FD}

.CTable{
    margin-top: 5px;
	border-top: 1px solid #666666;
	border-right: 1px solid #666666;
	border-bottom: 1px solid #666666;
	border-left: 1px solid #666666;
	background-color: #FFFFFF;
}
.CLeftTitle{
    background:#EBF2FB;
	font-size:12px;
    line-height: 120%;
}

.splittd{border-bottom:1px solid #f1f1f1;height:30px; padding-left:5px; padding-right:5px}
.list{
  background:#ffffff;
}
.listmouseover{
    background:#FAF9E3;
}
.Title
{
    background:#72A3D0;
    color: #ffffff;
    font-weight: normal;
}
.border{ border: 1px solid #72A3D0;background:#ffffff;}

.sort{
	background:#FBFDFF;border-top:2px solid #E1EEFF;
	height:32px;
	letter-spacing:2px;
	font-weight:bold;
	text-align:center;
	border-bottom:1px solid #E1EEFF;
}
.sort td{background:#FBFDFF;border-top:2px solid #E1EEFF;height:36px;border-bottom:1px solid #E1EEFF;
}
.blacktd td{ color:#000066}
.tablerow1 {background:#ecf5ef;}
.tablerow2 {background:#E4F1FA;}
.tablerow1,.tablerow2 {border:1px solid #fff;line-height:23px;padding-right:5px;padding-left:5px;}